#content img.ejuice-header-image {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.slick-track .wpls-fix-box .wp-post-image {
    height: 121px !important;
}

#wpls-logo-showcase-slider-1 ul {
    display: none !important;
}

div.ejuice-page-content {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "sidebar products products";

    div.ejuice-sidebar {
        grid-area: sidebar;
    }

    div.ejuice-products {
        grid-area: products;
    }
}
