header#masthead.site-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: .5s;
}

div.seperator {
    height: 20px;
    width: 100%;
    background: linear-gradient(#7f7f7f, #3e65c9);
}

div.site-logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". logo .";
    text-align: center;
    background-color: #515151;
    animation: increaseHeight 2s forwards;
}

.sticky-logo ul.logo {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
    text-align: center;
    animation: logoOpacity 9s forwards;
}

ul#primary-menu.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

ul#primary-menu.menu li {
    display: inline-block;
    grid-area: nav;

    a {
        color: black;
        text-decoration: none;
    }
}

.bt_bb_image span img {
    margin-bottom: 187px;

}

/* Menu */
#primary-menu {
    font-family: 'Akronim', display;
    background-color: #ffffff !important;
    font-size: 30px;
    word-spacing: 20px;
}

/* Link */
#primary-menu .menu-item a {
    text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
}

/* Site logo */
#site-navigation .site-logo {
    background-color: #e8e8e8;

}

/* Menu */
#primary-menu {
    box-shadow: 0px 0px 9px 1px #000000;

}

/*mobile menu*/
/* Image */
.mob-menu-logo-holder .headertext img {
    margin-bottom: 0px;
    margin-top: -50px;

}


/* 1260px and above screen sizes */
@media only screen and (min-width:1260px) {

    /* Post images */
    #content .wp-post-image {
        height: 609px;
    }

}

@keyframes logoOpacity {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes increaseHeight {
    0% {
        height: 50px
    }

    100% {
        height: 75px
    }
}
