ul.social-sidebar-icons {
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;

    li {
        display: inline-block;

        img {
            height: 100px;
            width: 100px;
        }
    }
}

aside#secondary.widget-area {
    border: none;
    width: 90%;
}

aside#secondary.widget-area form {
    margin-top: 10px;

    input.search-field {
        width: 90%;
        margin-left: 5%;
    }

    button {
        width: 80%;
        margin-left: 10%;
        margin-top: 5px;
    }
}

aside#secondary.widget-area {
    section#nav_menu-3 {
        h2 {
            text-align: center;
        }
    }

    div.menu-sidebar-menu-container {
        ul {
            width: 100%;
            list-style-type: none;
            padding: 0;
            text-align: center;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    section#woocommerce_recently_viewed_products-4.widget.woocommerce.widget_recently_viewed_products {
        h2 {
            text-align: center;
        }

        ul.product_list_widget {
            a {
                color: black;
            }
        }
    }

    section#woocommerce_product_categories-2.widget.woocommerce.widget_product_categories {
        h2.widget-title {
            text-align: center;
        }

        select#product_cat {
            width: 100%;
        }


    }

    section#woocommerce_widget_cart-4.widget.woocommerce.widget_shopping_cart {
        h2 {
            text-align: center;
        }

        div.widget_shopping_cart_content {
            p.total {
                text-align: center;
            }

            p.buttons {
                a.button {
                    border: 1px solid #686868;
                    width: 50%;
                    margin: 0 0 0 25%;
                }
            }
        }
    }
}
