ul.social-sidebar-icons {
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;

    li {
        display: inline-block;

        img {
            height: 100px;
            width: 100px;
        }
    }
}

aside#secondary.widget-area {
    border: none;
    width: 90%;
}

aside#secondary.widget-area form {
    margin-top: 10px;

    input.search-field {
        width: 90%;
        margin-left: 5%;
    }

    button {
        width: 80%;
        margin-left: 10%;
        margin-top: 5px;
    }
}

aside#secondary.widget-area {
    section#nav_menu-3 {
        h2 {
            text-align: center;
        }
    }

    div.menu-sidebar-menu-container {
        ul {
            width: 100%;
            list-style-type: none;
            padding: 0;
            text-align: center;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    section#woocommerce_recently_viewed_products-4.widget.woocommerce.widget_recently_viewed_products {
        h2 {
            text-align: center;
        }

        ul.product_list_widget {
            a {
                color: black;
            }
        }
    }

    section#woocommerce_product_categories-2.widget.woocommerce.widget_product_categories {
        h2.widget-title {
            text-align: center;
        }

        select#product_cat {
            width: 100%;
        }


    }

    section#woocommerce_widget_cart-4.widget.woocommerce.widget_shopping_cart {
        h2 {
            text-align: center;
        }

        div.widget_shopping_cart_content {
            p.total {
                text-align: center;
            }

            p.buttons {
                a.button {
                    border: 1px solid #686868;
                    width: 50%;
                    margin: 0 0 0 25%;
                }
            }
        }
    }
}

/* Form Division */
#secondary .widget form{
    padding-top:20px;
    padding-bottom:20px;
    box-shadow:-5px 0px 14px 2px #000000;

}

/* Secondary */
#secondary{
    border-width:2px;
    border-style:solid !important;
}

#page #content .home-shop-section div #secondary .widget h2{
    text-decoration:underline !important;
}

/* Total */
#secondary .widget .total{
    text-align:center;
    border-width:3px;
    box-shadow:0px 0px 29px -1px #000000 inset;
    color:#2d2929;
}

/* Buttons */
#secondary .widget .buttons{
    text-align:center;
    font-family:'Alegreya SC', serif;
    color:#0c0c0c;
    font-size:17px;
}

/* Social sidebar icons */
#secondary .social-sidebar-icons{
    word-spacing:20px;
    letter-spacing:10px;
    font-size:16px;
    box-shadow:-14px 0px 25px 4px #5e5e5e;
}

#page #content .home-shop-section div #secondary .social-sidebar-icons{
    line-height:0normal !important;
}

/* Heading */
#secondary div h5{
    text-align:center;
    font-size:15px;
}

#page #content .home-shop-section div #secondary div h5{
    text-decoration:underline !important;
}

/* Widget Title */
#secondary .widget h2{
    text-align:center;

}


